<!DOCTYPE html>
 <head>
    <link rel="stylesheet" href="static/global.css">
    <link rel="stylesheet" href="static/index.css">    
</head>


                                

<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->


<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Stock Tracker</span>
            <h2 class="cs-title">Most Active Stocks</h2>
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-color">
                    <th class="cs-th">Ticker</th>
                    <th class="cs-th">Name</th>
                    <th class="cs-th">Price</th>
                    <th class="cs-th">Change</th>
                    <th class="cs-th">Change %</th>
                    <th class="cs-th">Volume</th>
                    <th class="cs-th">Market Cap</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker in screen["quotes"] %}
                <tr class="cs-tr">
                    <td class="cs-td">{{ ticker["symbol"] }}</td>
                    <td class="cs-td">{{ ticker["longName"] }}</td>
                    <td class="cs-td">$ {{"%.2f"|format(ticker["regularMarketPrice"]) }}</td>
                    <td class="cs-td 
                    {% if ticker['regularMarketChange'] > 0 %}
                        positive
                    {% elif ticker['regularMarketChange'] < 0 %}
                        negative
                    {% endif %}
                    ">
                    {{ "{:.2f}".format(ticker["regularMarketChange"]) }}
</td>
                    <td class="cs-td
                    {% if ticker['regularMarketChangePercent'] > 0 %}
                        positive
                    {% elif ticker['regularMarketChangePercent'] < 0 %}
                        negative
                    {% endif %}
                    ">% {{"%.2f"|format(ticker["regularMarketChangePercent"]) }}</td>
                    <td class="cs-td">{{ ticker["regularMarketVolume"] | compact_number }}</td>
                    <td class="cs-td">$ {{ ticker["marketCap"] | compact_number }}</td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
</section>
                                